html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}
*,*::before::after{
    box-sizing: inherit;
}


a, span{
    font-size: 1.5rem;
}

h1{
    margin: 0;
    padding: 0;
}

p{
    margin:0;
}

body{
    background-image: url(/build/img/black-geo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
}





